# Dependencias
node_modules/

# Build
dist/

# Sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local
.env.production

# Archivos locales de referencia
portfolio_isaac/

# Logs
npm-debug.log*
